.btn-group>.btn.btn-default.active,
.btn-group>.btn.btn-default:hover {
  box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.07);
}

.btn-group>.btn.active,
.btn-group>.btn:hover {
  box-shadow: inset 3px 3px 1px 0px rgba(0, 0, 0, 0.2);
}

.btn-group>.btn.active.disabled {
  box-shadow: inset 3px 3px 1px 0px rgba(0, 0, 0, 0.07);
}