



.nav-tabs {
  border-bottom: 1px solid @brand-primary;
  > li {
    > a {
      margin-top: 4px;
      color: #888;
      border: 1px solid @nav-tabs-border-color;
      border-bottom: none;
    }
    &.active {
      > a {
        background-color: #fff;
        border-color: @brand-primary;
        border-bottom-color: transparent;
        padding: 10px 15px;
        margin-top: 0;
        box-shadow: 0px -4px 6px -3px rgba(0, 0, 0, .3);
        &:focus, &:hover {
          background-color: #fff;
          border-color: @brand-primary;
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.tab-content {
  &.tab-content-bordered {
    border: 1px solid @brand-primary;
    border-top:none;
  }
}